<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Another page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/custom_css.css" />
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col">
            <h1>Some more stuff...</h1>
        </div>

        <div class="col-sm-8">
            <h2>Mah new page!</h2>
        </div>
      </div>

    </div>
</body>
</html>




