/*
    Discuss the following CSS properties with student(s) next to you.
    Can you define:
    1. In your own words what they are useful for
    2. An example of valid values for each one
*/
? {
    grid-template-columns:
    grid-template-rows:

    grid-gap:

    grid-column:
    grid-row:
    transition:
    animation:
    justify-content:
    align-items:

    flex-direction:
    flex-wrap:

    self-align:
}
